<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AgapeConnectListener.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="acConnectionString" connectionString="Data Source=&quot;192.168.0.69\SQLEXPRESS, 5999&quot;;Initial Catalog=AgapeConnectWebUsers;Persist Security Info=False;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="solConnectionString" connectionString="Data Source=192.168.0.69;Initial Catalog=EWOApplication;Persist Security Info=True;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="dsConnectionString" connectionString="Data Source=192.168.0.69\SQLEXPRESS,5999;Initial Catalog=dataserver_devtest;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AgapeConnectListener.My.MySettings.acConnectionString"
            connectionString="Data Source=WIN-IJASUCJVGUJ\SQLEXPRESS;Initial Catalog=acDatalinks;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AgapeConnectListener.My.MySettings.acDatalinksConnectionString"
            connectionString="Data Source=WIN-IJASUCJVGUJ\SQLEXPRESS;Initial Catalog=acDatalinks;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
	
	<appSettings>
		<add key="urlAgapeConnect" value="http://agapeconnect.me/DesktopModules/AgapeConnect/StaffAdmin/DatatSync.asmx"/>
		<add key="pollDelay" value="400000"/>
		<add key="advanceSuffix" value="Advances"/>
		<add key="acPassword" value=""/>

	</appSettings>
 <applicationSettings>
  <AgapeConnectListener.My.MySettings>
   <setting name="AgapeConnectListener_dynamicAgapeConnect_DatatSync"
    serializeAs="String">
    <value />
   </setting>
   <setting name="TNT_InstallPath" serializeAs="String">
    <value />
   </setting>
   <setting name="TNT_Version" serializeAs="String">
    <value />
   </setting>
  </AgapeConnectListener.My.MySettings>
 </applicationSettings>
</configuration>
